:root {
    --bgcolorstart: #C6AC8F;
    --bgcolorend: #5E503F;
    --blueborder: #22333B;
    --black: #0A0908;
    --white: #EAE0D5;

    --redinput: #8C1C13;
    --greeninput: #678D58;

    --yellow: #E28413;
    --green: #2AFC98;
    --cyan: #048BA8;
    --pink: #D7263D;
}