.unselectable,
img,
header,
.spanButtonReaction,
.reactionNumber {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

li {
    margin-top: 7vh;
    margin-bottom: 7vh;
    /* display: flex;
    flex-direction: column; */
}

.citationZone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1vh;
}

.authorDateZone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.authorDateZoneInput {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

/* .authorDate {
    font-weight: bold;
} */

.adzCitation {
    transform: translateY(min(-1.2vw, -1.2vh));
}

.citationInput {
    margin: auto;
    /* margin-top: 2vh; */
    width: 80vw;

    color: var(--w);

    border: none 0px var(--gray);

    padding: 10px;
    /* border-radius: 10px; */
    box-sizing: border-box;
    /* font-family: 'Lucida Console', monospace; */

    background-color: rgba(255, 255, 255, 0.185);

    border-top-left-radius: max(1vh, 1vw);
    border-top-right-radius: max(1vh, 1vw);
    border-bottom-left-radius: max(1vh, 1vw);

    /*Horizontal*/
    /* background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 10px 1px;
    background-repeat: repeat-x;

    /*Vertical*/
    /* background-image: linear-gradient(black 33%, rgba(255, 255, 255, 0) 0%);
    background-position: right;
    background-size: 1px 10px;
    background-repeat: repeat-y; */
    transition: all 0.2s;
}

#newCitationSubmit {
    font-weight: bold;
    /* background-color: rgba(255, 255, 255, 0.185);
    transition: all 0.2s; */
}

.authorInput {
    border-bottom-left-radius: max(1vh, 1vw);
}

.dateInput {
    border-bottom-right-radius: max(1vh, 1vw);
}

.input {
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.185);
    transition: all 0.15s ease-in-out;
}

.input:hover,
textarea:hover {
    /* background-color: rgba(155, 155, 155, 0.185); */
    /* background-color: rgba(255, 255, 255, 0.185); */
    background-color: rgba(255, 255, 255, 0.3);
}

.citationCommon {
    font-family: 'citationFont', 'citationFont2';
    font-size: max(5vw, 5vh);
    text-shadow: 0 10px 60px white;
}

.citationInput {
    text-shadow: 0 10px 60px #AAAAAA;
}

::placeholder {
    color: #AAAAAA; /* Change 'red' to your desired color */
}

.shiny {
    text-shadow: 0 0 10px white;
}

.shiny input {
    text-shadow: 0 0 10px rgb(0, 17, 53);
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.548);
}

.authorDateCommon {
    font-size: larger;
}

.zone {
    width: 90vw;
    margin: auto;
}

.zone2 {
    width: 80vw;
    margin: auto;
}

.zone3 {
    width: 50vw;
    margin: auto;
}

.openingInput {
    transform: translateX(min(5vw, 5vh));
}

.closingInput {
    transform: translateX(min(-5vw, -5vh));
}

.citationSubmit {
    width: 100%;
    margin-top: 10px;
    margin-bottom: calc(10px + 1vh);
    border-radius: max(1vh, 1vw);
}

@media only screen and (max-width: 700px) {
    .authorDateZoneInput {
        flex-direction: column;
        justify-content: center;
    }

    .citationZone textarea {
        border-radius: max(1vh, 1vw);
    }

    .authorDateZoneInput input {
        margin-top: 10px;
        border-radius: max(1vh, 1vw);
    }
}

h1 {
    font-family: 'citationFont', 'citationFont2';
    font-size: max(5vw, 5vh);
    text-align: center;
    margin-bottom: 0;
}

.underH1 {
    text-align: right;
    /* font-weight: light; */
    padding-right: 10vw;
    margin-bottom: 4vh;
}

.ultradeletedCitation .citationZone span {
    color: rgba(214, 0, 0, 0.747);
    text-shadow: 0 10px 60px rgba(214, 0, 0, 0.747);
}

.deletedCitation .citationZone span {
    color: rgba(255, 117, 117, 0.911);
    text-shadow: 0 10px 60px rgba(255, 117, 117, 0.911);
}

.unverifiedCitation .citationZone span {
    color: rgb(255, 187, 0);
    text-shadow: 0 10px 60px rgb(255, 187, 0);
}

.verifiedCitation .citationZone span {
    color: rgb(140, 255, 117);
    text-shadow: 0 10px 60px rgb(140, 255, 117);
}

.writer {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.writer span {
    color: rgb(216, 216, 216);
    font-size: small;
}

.reactions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2vw;
}

.reactionCounter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reactionNumber {
    margin: 3px;
    padding: 5px;
    font-size: larger;
}

.spanButtonReaction {
    margin: 3px;
    padding: 5px;
    font-size: larger;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.2s;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.spanButtonReaction:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.spanButtonReaction:active {
    background-color: rgba(0, 0, 0, 0.2);
}

#sortby {
    width: 90vw;
    margin: auto;
    font-size: x-small;
}

#sortby input {
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.2s;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

#sortby input:hover {
    background-color: rgba(255, 255, 255, 0.3);
}